body > table{
    width: 30%;
}

table{
    border-collapse: separate;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 520px;
}
table.list{
    width:100%;
}

td{
    height: 100px; 
    width: 200px;    
    border: 3px solid red;
    text-align: left;
    padding: 8px;
}
th {
    border: 1px solid #dddddd;
    text-align: left;
    margin: 2px 0;
    padding: 2px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #fb08ff94;
    width: 60%;
}
#Bank_Info{
    border-style: solid;
    text-align: left;
    padding: 9px;
    border: 2px solid blue;
    position: absolute;
    width: 500px;
}
input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: #fb08ff94;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    width: 20px;
    margin-right: 4px;
    position: relative;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}
ul{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 35px 20px;
    text-decoration: none;
    font-size: 17px;
}
li{
    display: inline;
}
li a{
    text-decoration: none;
    color: black;
    padding: 20px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
li.active{
    background-color: #fb08ff94;
    width: 20px;
}
li a:hover{
    background-color: black;
    color: white;
}
.picture{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("ceufront.jpg");
    background-color: #333;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hide{
    display:none;
}
.logo img{
    float: left;
    width: 80px;
    height: auto;
}
.main{
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}
.cover{
    background-style: none;
    background-color: #e7c4b7;
}
.button{
    width: 30%;
    background-color: #fb08ff94;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-style: inset;
}